// MAIN CONTENT
$sidebar-width: 175px;
$header-height: 100px;
$header-width: 100vw;
$content-height: calc(100vh - #{$header-height});
$content-width: calc(100vw - #{$sidebar-width});

$content-item-padding: 20px;
$content-item-height: calc(#{$content-height} - 2 * #{$content-item-padding});
$content-item-height: $content-height;
