@import "src/_theme/_styles";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  padding: 20px;
}

.item {
  width: 100%;
  height: $content-item-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
